<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ElibriumEntities" connectionString="metadata=res://*/Domain.Model2.csdl|res://*/Domain.Model2.ssdl|res://*/Domain.Model2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSqlLocalDb;initial catalog=Kontaktiraamat;integrated security=True;pooling=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="KontaktiraamatEntities" connectionString="metadata=res://*/Domain.Model.csdl|res://*/Domain.Model.ssdl|res://*/Domain.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSqlLocalDb;initial catalog=Kontaktiraamat;integrated security=True;pooling=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>